body {
  display: flex;
  justify-content: center; 
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.heading {
    justify-content: space-between;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black;
}

.heading img {
    margin: 10px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

#nav a {
    color: seashell;
    text-decoration: underline;
    position: absolute;
    top: 0;
    right: 0;
}

.mission {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 700px;
    width: 1000px;
    background-image: url("../images/missionbg.jpg");
}



.mission #mission {
    background-color: black;
    width: 1200px;
    opacity: 1;
}

#tea {
  display: flex;
  flex-flow: row wrap;
  width: 1000px;
  justify-content: center;
  margin: 10px;
}

#berry,
#rum,
#donut,
#myrtle,
#bedford {
  text-align: center;
}

#tea img {
  height: 200px;
  width: 300px;
  padding: 10px;
}

#locations {
  background-image: url("../images/locationsbg.jpg");
  height: 500px;
  width: 1000px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 100px;
}

#loctext {
  text-align: center;
}

#locations .loc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#downtown,
#bayside,
#oakdale {
  height: 300px;
  width: 300px;
  opacity: 1;
  background-color: black;
  margin: 20px 15px;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 150px;
}

#contact {
  height: 200px;
}

.contact #copyright {
  position: absolute;
  left: 20px;
  bottom: 0px;
}