body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.heading {
    display: inline-flex;
    justify-content: space-between;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    z-index: 1;
  background-color: black;
}

.heading img {
    margin: 10px;
    height: 50px;
}

#nav a {
    color: seashell;
    text-decoration: underline;
}

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1000px;
    background-image: url("../images/missionbg.jpg")
}

main {
    
}

.mission #mission {
    background-color: black;
    width: 1200px;
    opacity: 1;
}

#tea {
  display: inline-flex;
  flex-flow: row wrap;
  width: 1000px;
  text-align: center;
}

#tea img {
  width: 300px;
  height: 200px;
  padding-bottom: 10px;
}

#locations {
  background-image: url("../images/locationsbg.jpg");
  height: 500px;
  width: 1000px;
  display: inline-flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
}

#locations .loc {
  width: 300px;
  height: 300px;
  opacity: 1;
  background-color: black;
  padding: 15px 20px 0 20px;
}

.footer {
  display: flex;
  justify-content: center;
  height: 300px;
}

#copyright {
  text-align: left;
  margin: 20px;
}