* {
    text-align: center;
    background-color: #222;
}

h1 {
    text-transform: uppercase;
    color: #e40;
    border: 1px solid #e40;
    padding: 5px 5px;
    justify-self: center;
}

h2 {
    color: #e40;
}

table {
    margin: 10px
}

table, th, td {
    color: #999;
    justify-self: center;
    border: 1px solid #e40;
    border-collapse: collapse;
}