* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #222;
    color: #ccc;
    margin: 10px;
}

h1 {
  color: #e40;
  border: 2px solid #e40;
  text-align: center;
  font-size: 64px;
}


p, 
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}

.muffin {
  color: tan;
  background-color: #666;
  font-weight: bold;
  border-radius: 2px;
}

.muffin:hover {
  color: burlywood;
}