.underdog-regular {
  font-family: "Underdog", system-ui;
  font-weight: 400;
  font-style: normal;
}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.grenze-<uniquifier> {
  font-family: "Grenze", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

main {
  font-family: 'Underdog', sans-serif;
}

body {
    background-color: #222;
    color: #ccc;
    line-height: 1.5;
}

.header {
  font-family: 'Creepster', serif;
  display: flex;
  justify-content: center;
}

h1 {
  display: inline-flex;
  color: #e40;
  border: 2px solid #e40;
  font-size: 64px;
  justify-content: center;
  padding: 0 30px;
}


p, li {
  font-size: 18px;
}


a {
  text-decoration: none;
}

.muffin {
  color: tan;
  background-color: #666;
  border-radius: 2px;
  font-family: 'Grenze', serif;
  font-weight: bold;
  font-size: 32px;
  cursor: pointer;
}

.muffin:hover {
  color: #6d4702;
}

.convert {
  color: tan;
  background-color: #666;
  border-radius: 2px;
  font-family: 'Grenze', serif;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  font-size: 32px;
}

.convert:hover {
  color: #ccc
}

.converter {
  position: relative;
  justify-content: center;
  font-size: 18px;
}

.converter h2 {
  font-size: 32px;
  text-align: center;
}

.converter p {
  text-align: center;
}

.learning {
  flex-direction: column;
}

.hated {
  flex-direction: column;
}

.muffinbutton {
  justify-content: center;
  display: flex;
}

#hmm {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

#converter {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}