html {
    font-size: 16px;
    font-family: arial, sans-serif;
    background-color: #2a2a2a;
    color: #ffdead;
}

a {
    color: #ffdead;
    text-decoration: underline;
}

a:hover {
    color: #2a2a2a;
    background-color: #ffdead;
    border: 1px solid #ffdead;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.5rem;
}

nav li a {
    font-size: 1.2rem;
    color: #ffdead;
    border: 1px solid #ffdead;
    cursor: pointer;
    padding: 0.1rem 0.5rem;
}

nav li a:hover {
    background-color: #ffdead;
    color: #2a2a2a;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    margin-top: 3rem;
}

#projects .sites {
    width: 25%;
    margin: 1rem;
    padding: 1rem;
    background-color: #3a3a3a;
    border: 1px solid #ffdead;
    text-align: center;
}

#projects .sites img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#skills ul {
    list-style: none;
    display: flex;
}

#skills li img {
    width: 50px;
    height: auto;
}